# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a


# Executables
*.exe
*.out
*.appa

# Visual studio
.vs/

# other
*.tlog
*.pdb
*.app
*.log
*.recipe
*.ilk
*.idb
*.iobj
*.ipdb
Debug/Jauntlet.lib
Debug/Jauntlet Engine.vcxproj.FileListAbsolute.txt
Debug/Jauntlet.vcxproj.FileListAbsolute.txt
Debug/Jauntlet Engine.exe.recipe
Release/Jauntlet.lib
Release/Jauntlet Engine.vcxproj.FileListAbsolute.txt
Release/Jauntlet.vcxproj.FileListAbsolute.txt
Release/Jauntlet Engine.exe.recipe

x64/
Jauntlet/Debug/Jauntlet.vcxproj.FileListAbsolute.txt
